.lateral-menu {
    position: fixed;
    width: 27%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}

.lateral-menu-icon {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.lateral-list-ul {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.svg-fill {
    fill: white;
    width: 28px;
    min-width: 28px;
}

.lateral-menu-li {
    display: flex;
    flex-direction: row;
    width: auto;
    list-style: none;
}

.lateral-menu-button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    gap: 20px; 
    width: auto;
    height: 50px;
    border-radius: 100px;
    border: 0;
    padding: 0 15px;
    background-color: black;
}

.lateral-menu-button:hover {
    cursor: pointer;
    background-color: #181818;
}

.lateral-menu-li:last-child {
    margin-top: 40px;
    margin-left: 10px;
}

.lateral-menu-option {
    color: white;
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
}

.lateral-menu-button-post {
    width: 225px;
    height: 50px;
    border-radius: 100px;
    border: 0;
    background-color: #1d9bf0;
}

.lateral-menu-button-post:hover {
    cursor: pointer;
    opacity: .9;
}

.lateral-menu-button-text {
    font-size: medium;
    font-weight: bold;
    color: white;
}

.lateral-menu-avatar {
    width: 40px;
    border-radius: 100px;
}

.lateral-menu-profile {
    display: flex; 
    flex-direction: row;
    justify-content: start;
}

.lateral-menu-user {
    line-height: 20px;
}

.lateral-menu-user-name {
    font-size: 15px;
}

.lateral-menu-user-account {
    color: gray;
}

.lateral-menu-section-profile {
    display: flex; 
    flex-direction: column;
    margin-top: 15px;
    align-items: end;
}

.lateral-menu-article-profile { 
    margin-right: -35px; 
    width: 260px; 
    height: 60px; 
    border-radius: 100px;
}

.lateral-menu-article-profile:hover {
    cursor: pointer;
    background-color: #181818;
}

.lateral-menu-profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; 
    top: 10px; 
    left: 10px;
}

.lateral-menu-account-info {
    display: flex; 
    flex-direction: column; 
    position: relative; 
    top: 3px; 
    left: 10px;
}