.lateral-tendency {
    margin-right: 2.5%;
    width: 34%;
}

.lateral-tendency-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.lateral-tendency-buscar {
    margin-top: 5px;
    background-color: #202327;
    width: 335px;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.lateral-tendency-svg-fill {
    padding: 10px;
    fill: #71767b;
    margin-left: 10px;
    background-color: #202327;
    width: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lateral-input-buscar {
    background-color: transparent;
    border: 0;
    align-items: start;
    margin-left: 10px;
    width: 220px;
    outline: none;
    background-color: #202327;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.lateral-panel-result {
    display: none;
    padding: 30px;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    color: #71767b;
    background-color: black;
    -webkit-box-shadow: 0px 0px 10px 0px #2d2d2d;
    box-shadow: 0px 0px 10px 0px #2d2d2d;
}

.lateral-busqueda-resultado {
    display: flex;
    text-align: center;
}

.lateral-tendency-buscar:focus-within {
    background-color: black;
    border: 1px solid #45adf3;
}

.lateral-tendency-buscar:focus-within .lateral-tendency-svg-fill {
    fill: #45adf3;
    background-color: black;
}

.lateral-tendency-buscar:focus-within .lateral-input-buscar {
    background-color: black;
}

.space {
    margin-top: 70px;
}

.lateral-tendency-article {
    border: 1px solid #2f3336; 
    width: 340px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.lateral-tendency-article-content {
    width: 90%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.lateral-tendency-paragraph {
    line-height: 20px;
}

.lateral-tendency-button {
    width: 125px;
    height: 35px;
    border-radius: 100px;
    border: 0;
    background-color: #1d9bf0;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.lateral-tendency-span {
    font-size: 11px; 
    color: #6a6f74;
}

.lateral-tendency-content-span {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    padding: 10px;
}

.lateral-tendency-group-trending {
    display: flex;
    flex-direction: column;
}

.lateral-tendency-important-trending {
    display: flex; 
    flex-direction: row;
    height: 80px;
    max-height: 80px;
    align-items: center;
}

.lateral-tendency-trending {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    max-height: 80px;
    align-items: center;
}

.lateral-tendency-button-svg {
    position: relative; 
    border: 0;
    top: -21px;
    right: 10px;
    width: 35px; 
    height: 30px;
    border-radius: 100px; 
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.lateral-tendency-background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 100px;
    z-index: 0;
}

.lateral-tendency-option-svg {
    position: relative;
    left: 7px;
    width: 20px; 
    fill: #71767b;
}

.lateral-tendency-button-svg:hover .lateral-tendency-background {
    background-color: #1d9bf0;
}

.lateral-tendency-button-svg:hover .lateral-tendency-option-svg {
    fill: #1d9bf0;
}

.lateral-tendency-trending:hover {
    background-color: #181818;
}

.lateral-tendency-trending:first-child:hover {
    height: 120px;
    background-color: #181818;
}

.lateral-tendency-image-trending {
    margin-left: 10px;
    width: 80px;
    height: 75px;
    border-radius: 10px;
}

.lateral-tendency-content-trending {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    line-height: 5px;
    margin-top: -35px;
}

.lateral-tendency-link {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.lateral-tendency-link:hover {
    background-color: #181818;
}


.lateral-tendency-text-link {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1d9bf0;
}

.lateral-tendency-article-sugerencia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
}

.lateral-tendency-sugerencia-seguidor {
    display: flex;
    flex-direction: row;
}

.lateral-tendency-avatar {
    width: 40px;
    border-radius: 100px;
}

.lateral-tendency-info-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.lateral-tendency-panel-seguidor {
    display: flex; 
    flex-direction: column;
    height: 60px;
    display: flex; 
    justify-content: center;
}

.lateral-tendency-panel-seguidor:hover {
    background-color: #181818;
}

.lateral-tendency-cuenta {
    color: #6a6f74;
}

.lateral-tendency-panel-button {
    display: flex;
    align-items: center;
}

.lateral-tendency-button-seguir {
    border-radius: 100px;
    border: 0; 
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.lateral-tendency-button-seguir:hover {
    background-color: #d7dbdc;
}

.lateral-tendency-button-siguiendo {
    width: 130px;
    border-radius: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid #42505a;
    font-weight: bold;
}

.lateral-tendency-nombre-usuario {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
    font-weight: bold;
}

.lateral-tendency-options {
    margin-top: 10px; 
    word-break: break-all; 
    width: 340px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    line-height: 19px;
    text-align: left;
}

.lateral-tendency-link-option {
    text-decoration: none; 
    font-size: small; 
    color: #6a6f74;
}

.lateral-tendency-link-option:hover {
    text-decoration: underline;
}

.lateral-tendency-msj-seguir {
    font-size: small;
    display: block;
}

.lateral-tendency-msj-dejar-seguir {
    display: none;
}

.lateral-tendency-button-siguiendo:hover {
    background-color: #200a0c;
    border: 1px solid #67070f;
}

.lateral-tendency-button-siguiendo:hover .lateral-tendency-msj-dejar-seguir {
    display: block;
    color: #f4212e;
}

.lateral-tendency-button-siguiendo:hover .lateral-tendency-msj-seguir {
    display: none;
}