.App{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

@media screen and (max-width: 1004px) {
    .App {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }
}